<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Content of include config files is added to web.config in alphabetical order.
         SPEAK-dependent components may try to extend SPEAK configuration before it has been added to web.config.
         This file is created to be sure that its content is added to web.config before another SPEAK-dependent components. -->
    
    <pipelines>
      
      <speak.client.resolveScript>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Main, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Rule, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Pipeline, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Bundle, Sitecore.Speak.Client">
          <allowedFiles hint="raw:AddAllowedFile">
            <allowedFile folder="/sitecore/shell/client/Speak/Assets" />
            <allowedFile folder="/sitecore/shell/client" extensions="js,css" />
          </allowedFiles>
        </processor>
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.ResolveBaseComponent, Sitecore.Speak.Client" />
        <processor type="Sitecore.Resources.Pipelines.ResolveScript.Controls, Sitecore.Speak.Client">
          <sources hint="raw:AddSource">
            <source folder="/sitecore/shell/client/Speak/Assets" deep="true" category="assets" pattern="*.js" />
            <source folder="/sitecore/shell/client/Speak/Layouts/Renderings" deep="true" category="controls" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client" deep="true" category="client" pattern="*.js,*.css" />
            <source folder="/sitecore/shell/client/speak/layouts/Renderings/Resources/Rules/ConditionsAndActions" deep="true" category="rules" pattern="*.js" />
            <source folder="/sitecore/shell/client/Business Component Library/Layouts/Renderings" deep="true" category="business" pattern="*.js,*.css" />
          </sources>
        </processor>
      </speak.client.resolveScript>
      
    </pipelines>
    
  </sitecore>
</configuration>
