<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
      <getLayoutSourceFields>
        <processor type="Sitecore.Boost.SetLayoutRenderings.LightSetLayoutRenderings, Sitecore.Boost.SetLayoutRenderings" patch:instead="processor[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.GetLayoutSourceFields.SetLayoutRenderings, Sitecore.ExperienceEditor.Speak.Ribbon']"/>
			</getLayoutSourceFields>
		</pipelines>
		<settings>
		</settings>
	</sitecore>
</configuration>