<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
      <initialize>
        <processor type="Sitecore.Boost.RenderingParser.AddLightXmlBasedRenderingParser, Sitecore.Boost.RenderingParser" patch:after="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
			</initialize>
		</pipelines>
		<settings>
		</settings>
	</sitecore>
</configuration>