<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Sitecore81Perf_Sitecore_Core" />
  <add name="master" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Sitecore81Perf_Sitecore_Master" />
  <add name="web" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Sitecore81Perf_Sitecore_Web" />
  <add name="analytics" connectionString="mongodb://localhost/sitecore81perf_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/sitecore81perf_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/sitecore81perf_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/sitecore81perf_tracking_contact" />
  <add name="reporting" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Sitecore81Perf_Sitecore_Analytics" />
</connectionStrings>