<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Renderings8SitecoreCore" />
  <add name="master" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Renderings8SitecoreMaster" />
  <add name="web" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Renderings8SitecoreWeb" />
  <add name="analytics" connectionString="mongodb://localhost/renderings8_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/renderings8_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/renderings8_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/renderings8_tracking_contact" />
  <add name="reporting" connectionString="user id=sa;password=Jackan0ry!;Data Source=.;Database=Renderings8SitecoreAnalytics" />
</connectionStrings>