<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <events>
    <event name="publish:end">
      <handler type="Sitecore.Boost.Core.Caching.ClearBoostCache, Sitecore.Boost.Core" method="ClearCache" />
    </event>
    <event name="publish:end:remote">
      <handler type="Sitecore.Boost.Core.Caching.ClearBoostCache, Sitecore.Boost.Core" method="ClearCache"/>
    </event>
    </events>
	</sitecore>
</configuration>